* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: darksalmon;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.calc {
  border: 1px solid lightgoldenrodyellow;
  width: 450px;
  height: 670px;
  border-radius: 8px;
}
.display {
  width: 100%;
  height: 20%;
  background-color: cornsilk;
  border-radius: 8px;
  font-size: 72px;
  display: flex;
  align-items: end;
  justify-content: end;
}
.buttonContainer {
  width: 100%;
  height: 80%;
  background-color: lightcyan;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  padding: 5px;
}
.calcButton {
  width: 23%;
  height: 18%;
  background-color: cornflowerblue;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
  font-size: 32px;
}
.wide{
    width: 48%;
}